# Logs
logs
*.log

# Dependency directories
node_modules/

# Build output
dist/
build/
.vite/

# Environment variables
.env
.env.production
.env.local

# Static files and caches
.cache/

# Editor directories and files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db  

# Three.js and Draco compression
public/draco/
*.gltf
*.glb
